.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
Button start
*/

.btn-lgn {
  background-color: #228DEF; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  font-size: 150%;
  font-weight: 600;
  top: 50%;
  width: 14%;

}

.logout-btn {
  background-color: #228DEF; /* Blue */
  border: none;
  color: white;
  padding: 8px 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: 0px;
}
/* 
Button end
*/

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-display {
  position: absolute;
  top: -13px;
  left: 75px;
  margin: 10px;
  font-size: 20px;
}

/* 
Map start
*/

#map {
  height: 96vh;
  width: 75%;
  top: -21px;
  left: 69px;
}

.map-container {
  height: 96vh;
  width: 75%;
  top: 10px;
  left: 69px;
}

.combobox-input {
  width: 100%;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 300%;
  bottom:-20px;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50px;
  transform: translate(-50%);
  z-index: 10;
  width: 300px;
}

/* 
Map end
*/

/* 
Front page txt start
*/
.welc-msg {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: Black;
}

/* 
Front page txt end
*/

/* 
Marker start
*/
.marker {
  padding: 0.5rem;
  background: black;
  transition: all 0.3s ease-out;
  position: relative;
  width: 70px;
  height: 40px;
  border-radius: 10px;
}

.marker:after {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.75rem;
  opacity: 1;
}

.marker.highlight:after {
  opacity: 0;
  animation: fadeOut 0.5s;
  border-top: 9px solid #228def;
}

.marker h2 {
  margin: 0;
  color: #228def;
  font-size: 0.60rem;
  text-align: center;
  display: flex;
}

.highlight {
  width: 200px;
  color:white;
}

/* 
Marker end
*/
